name: Dapp Up Check

## Run this on workflow manual dispatch and cron
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to check'
        required: true
        default: 'main'
  # https://crontab.guru/#0_2_*_*_*
  schedule:
    - cron: '0 5 * * *' # Runs at 5 AM UTC every day
    - cron: '0 17 * * *' # Runs at 5 PM UTC every day

jobs:
  dapp-up-check:
    name: 'Dapp Up Check'
    runs-on: ubuntu-latest
    steps:
      - name: Google Secrets
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        id: google-secrets
        with:
          project_id: celo-mobile-alfajores
          credentials_json: ${{ secrets.ALFAJORES_SERVICE_ACCOUNT_KEY }}
      - name: Fetch Secrets
        id: slack-webhook
        uses: google-github-actions/get-secretmanager-secrets@bc9c54b29fdffb8a47776820a7d26e77b379d262 # v3.0.0
        with:
          secrets: |-
            SLACK_WEBHOOK_URL:projects/1067724576910/secrets/SLACK_DAPPS_PAGE_WEBHOOK_URL
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: 'package.json'
          check-latest: true
      - uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: |
            node_modules
            */*/node_modules
            ~/.cache/Cypress
          key: ${{ runner.os }}-cypress-${{ hashFiles('**/yarn.lock') }}
      # Runs Cypress
      - name: Cypress run
        uses: cypress-io/github-action@d842ab15a88774cf1311cc07f0e7112024c3dbd7 # v6.10.6
        timeout-minutes: 10
        with:
          browser: chrome
          spec: cypress/e2e/dapps.cy.ts
          cache-key: ${{ runner.os }}-cypress-${{ hashFiles('**/yarn.lock') }}
      - name: Report Failure to Slack
        if: failure()
        uses: edge/simple-slack-notify@d841831738af1d83ecc27186e722322145c21488 # v1.1.2
        with:
          channel: '#dapps-page'
          color: 'danger'
          fields: |
            [{ "title": "Action URL", "value": "${env.GITHUB_SERVER_URL}/${env.GITHUB_REPOSITORY}/actions/runs/${env.GITHUB_RUN_ID}"}]
          status: ${{ job.status }}
          failure_text: 'Dapp Up Check Failed Please Investigate :mag:'
        env:
          SLACK_WEBHOOK_URL: ${{ steps.slack-webhook.outputs.SLACK_WEBHOOK_URL }}
