name: Dapp Up Check

## Run this on workflow manual dispatch and cron
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to check'
        required: true
        default: 'main'
  # https://crontab.guru/#0_2_*_*_*
  schedule:
    - cron: '0 5 * * *' # Runs at 5 AM UTC every day
    - cron: '0 17 * * *' # Runs at 5 PM UTC every day

jobs:
  dapp-up-check:
    name: 'Dapp Up Check'
    runs-on: ubuntu-latest
    steps:
      - name: Google Secrets
        uses: google-github-actions/auth@ba79af03959ebeac9769e648f473a284504d9193 # v2.1.10
        id: google-secrets
        with:
          project_id: celo-mobile-alfajores
          credentials_json: ${{ secrets.ALFAJORES_SERVICE_ACCOUNT_KEY }}
      - name: Fetch Secrets
        id: slack-webhook
        uses: google-github-actions/get-secretmanager-secrets@a8440875e1c2892062aef9061228d4f1af8f919b # v2.2.3
        with:
          secrets: |-
            SLACK_WEBHOOK_URL:projects/1067724576910/secrets/SLACK_DAPPS_PAGE_WEBHOOK_URL
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: 'package.json'
          check-latest: true
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: |
            node_modules
            */*/node_modules
            ~/.cache/Cypress
          key: ${{ runner.os }}-cypress-${{ hashFiles('**/yarn.lock') }}
      # Runs Cypress
      - name: Cypress run
        uses: cypress-io/github-action@0ee1130f05f69098ab5c560bd198fecf5a14d75b # v6.9.0
        timeout-minutes: 10
        with:
          browser: chrome
          spec: cypress/e2e/dapps.cy.ts
          cache-key: ${{ runner.os }}-cypress-${{ hashFiles('**/yarn.lock') }}
      - name: Report Failure to Slack
        if: failure()
        uses: edge/simple-slack-notify@d841831738af1d83ecc27186e722322145c21488 # v1.1.2
        with:
          channel: '#dapps-page'
          color: 'danger'
          fields: |
            [{ "title": "Action URL", "value": "${env.GITHUB_SERVER_URL}/${env.GITHUB_REPOSITORY}/actions/runs/${env.GITHUB_RUN_ID}"}]
          status: ${{ job.status }}
          failure_text: 'Dapp Up Check Failed Please Investigate :mag:'
        env:
          SLACK_WEBHOOK_URL: ${{ steps.slack-webhook.outputs.SLACK_WEBHOOK_URL }}
